/* *{
    margin: 0;
} */

body{
    background-color: black;
    color: white;
}
.container{
    background-color: rgb(43, 41, 41);
    width: 80%;
    margin: auto;
    border-radius: 20px;
}
.heading{
    font-family: Lobster;
}
#title{
    text-align: center;
    font-size: 90px;
}
#span1{
    color: red;
}
#image{
    width: 400px;
    border-radius: 40px;
}
#img-div{
    text-align: center;
}
#info{
    width: 80%;
    text-align: justify;
    margin: 20px auto;
    font-size: 24px;
}

#marvel{
    color: red;
    margin-left: 10%;
}
ul{
    width: 80%;
    margin: auto;
}
li{
    font-size: 24px;
    line-height: 50px;
}
#footer{
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 24px;
    border: 1px solid white;
    padding: 30px;
}
#link{
    text-decoration: none;
    border: 2px solid orange;
    padding: 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
#link:hover{
    background-color: gray;
    color: red;
}